{% extends 'base.html.twig' %}

{% block title %}{{ stylist.getName() }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col col-7">
            <div class="card">
                <h3 class="card-header">{{ stylist.getName() }}</h3>
                <div class="card-block">
                    <h6 class="card-subtitle text-muted">Click to edit</h6>
                    <br>
                    {% for client in clients %}
                        <div class="row">
                            <div class="col col-6">
                                <h6>{{ client.getName() }}</h6>
                            </div>
                            <div class="col col-6">
                                <form action="/clients/{{ client.getId() }}" method="post" class="form-group client-modify-form">
                                    <input name="_method" type="hidden" value="delete">
                                    <button type="submit" class="btn btn-sm">Delete</button>
                                </form>
                                <form action="/clients/{{ client.getId() }}/edit" class="form-group client-modify-form">
                                    <button type="submit" class="btn btn-sm">Edit</button>
                                </form>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col col-5">
            <div class="card">
                <h2 class="card-header">Add a client</h2>
                <div class="card-block">
                    <form action="/stylists/{{ stylist.getId() }}" method="post" id="add-client-form" class="form-group">
                        <label for="name">Name:</label>
                        <input id="name" name="name" class="form-control" type="text">
                        <button type="submit" class="btn btn-success">Add Client</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
